.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.selectedCategories {
  margin-top: 2rem;
}

.selectCategory {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-style: inherit;
  font-weight: 600;
}

.input[type="text"] {
  padding: 1rem;
}
