.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.selectedCategories {
  margin-top: 2rem;
}

.selectCategory {
  padding: 0.3rem;
}
