.container {
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid var(--header-button);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  margin-left: -5rem;
}

.headerContainer span {
  margin-left: 2rem;
}

.image {
  width: 110px;
  border-radius: 20%;
}

.title {
  font-size: 3rem;
  font-style: italic;
  color: var(--white);
}
