.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.input label {
  font-weight: bold;
  margin-right: 0.6rem;
}

.input input {
  width: 4.5rem;
  border-radius: 5px;
  border: 1px solid var(--input-border);
  font: inherit;
  padding-left: 1rem;
}
